@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@600&family=Space+Mono:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Space Mono', monospace;
}

body {
	padding: 40px 80px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
header {
	font-family: 'Inconsolata', monospace;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 25px;
	letter-spacing: -0.08em;
	text-transform: uppercase;
	color: #333333;
	align-self: flex-start;
}

.content {
	display: flex;
	justify-content: center;
    align-items: center;
}

img {
	width: 30vw;
	margin: 0 60px;
}

.content-text {
	width: 30vw;
	margin: 0 60px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.content-title {
	font-weight: bold;
	font-size: 64px;
	line-height: 95px;
	letter-spacing: -0.035em;
	color: #333333;
}

.content-description {
	font-weight: normal;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: -0.035em;
	color: #4F4F4F;
	width: 70%;
	padding: 2.57rem 0 4.57rem 0;
}

.content-button button{
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	letter-spacing: -0.035em;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 1.5em 3em;
    background: #333;
    cursor: pointer;
}

footer {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: #333333;
}

@media (max-width: 1280px) {
	.content {
		transform: scale(.7);
	}
}

@media (max-width: 800px) {
	body {
		padding: 20px 24px;
	}
	.content {
		flex-direction: column;
		transform: scale(1);
	}

	img {
		width: 60vw;
		margin:0;
	}
	.content-text {
		width: 100%;
		margin:0;
	}
	.content-title {
		font-size: 48px;
		line-height: 65px;
	}
	.content-description {
		width: 90%;
		line-height: 28px;
		font-size: 18px;
	}
}